.landing-block {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-55%, -55%);
  }
  
.landing-links {
    width: 100%;
    text-align: center;
}

button{
  font-size: 20px;
}