<div class="landing-block">
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <!-- <form (ngSubmit)="onSubmitForm()"> -->
      <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
      <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail">
      <button type="submit">OK!</button>
  </form>
  <img src="../../assets/snapface.png" alt="Snapface logo">
  <div class="landing-links">
    <!-- <a routerLink="facesnaps">Continuer vers Snapface</a> -->
    <button (click)="onContinue()">Continuer vers Snapface</button>
  </div>
 
</div>
